rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function signedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    match /users/{userId}/profile/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId);
    }
    
    match /workers/{workerId}/profile/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(workerId);
    }
    
    match /worker-applications/{userId}/documents/{allPaths=**} {
      allow read: if signedIn(); // Admin needs to read, or the user themselves
      allow write: if isOwner(userId);
    }
    
    match /orders/{orderId}/problem/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }
    
    match /orders/{orderId}/before/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }
    
    match /orders/{orderId}/after/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
